<!DOCTYPE html>
<html lang="ko" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="cmm/layout">

<th:block layout:fragment="f-title">Life Mgmt</th:block>

<section layout:fragment="f-content">
	<div class="container">
		<div class="d-title">
			<h2>Life mgmt</h2>
		</div>
		<div class="d-content">
			<div class="row">
				<ul>
					<li>회원 관리</li>
					<li>공지 사항</li>
				</ul>
			</div>
		</div>
	</div>	
</section>